<html>
    <style>
    .newstxt
    {
	    font-family: Trebuchet MS, Verdana, Arial;
	    font-size:12px;
    }
    </style>
<body class="newstxt">
    <div>Dear Sir,</div>
    <div>&nbsp;</div>
    <div>Further with regards to Charge Back Ref No. <u>{CB_Ref} </u> sent to you on <u>{CB_Date}</u>, we have received a Second Charge Back from the bank due to insufficient documents.</div>
    <div>&nbsp;</div>
    <div>Hence, request you to kindly revert with the necessary documents pertaining to this charge back case by <u>{CB_Date2}</u></div>
    <div>&nbsp;</div>
	<div>Else as per the process we will have to debit the amount to {Cinema_Name}</div>
    <div>&nbsp;</div>
    <div>Please feel free to revert for any clarifications.</div>
    <div>&nbsp;</div>
    <div>Thanking You.</div>
    <div>&nbsp;</div>
    <div>Regards,</div>
    <div>BookMyShow</div>
</body>
</html>