<html>
    <style>
    .newstxt
    {
	    font-family: Trebuchet MS, Verdana, Arial;
	    font-size:12px;
    }
    </style>
<body class="newstxt">
    <div>{MailNotSent}</div>
    <div>&nbsp;</div>
    <div>Dear Sir,</div>
    <div>&nbsp;</div>
    <div>We have received Charge back from the bank, the customer is disputing for the below mentioned transactions.</div>
    <div>&nbsp;</div>
    <div>Please find below the disputed transaction details:</div>
    <div>&nbsp;</div>
    <div style="font-weight:bold;">1) Charge Back Ref. No: {CB_Ref}</div>
    <div style="font-weight:bold;">2) Booking id: {BookingId}</div>
    <div style="font-weight:bold;">3) Show: {show}</div>
    <div style="font-weight:bold;">4) Cinema Name: {Cinema_Name}</div>
    <div style="font-weight:bold;">5) Movie: {Movie_Name}</div>
    <div style="font-weight:bold;">6) Qty: {Qty}</div>
    <div style="font-weight:bold;">7) Seat Info: {SeatInfo}</div>
    <div style="font-weight:bold;">8) Tickets Total: {CBAmount}</div>

    <div>&nbsp;</div>
    <div>In order to represent the Charge Back case, we request you to provide the document which is:</div>
    <div>&nbsp;</div>
    <div>1. A clear and legible copy of the charge slip signed by the customer.</div>
    <div>2. A photocopy of the front and reverse side of the credit card (for signature verification) – incase a customer does not get the original credit card.</div>
    <div>3. If Uncollected, 2 Counter foils of the uncollected ticket to be couriered to Bookmyshow.</div>
    <div>&nbsp;</div>
    <div style="font-weight:bold;">Please send the requested documents latest by {CB_Date}.</div>
    <div style="font-weight:bold;">Else as per the process we will have to debit the amount {Cinema_Name}.</div>
    <div>&nbsp;</div>
    <div>Request you to kindly check and revert with the required documents (details as an attachment) on or before ({CB_Date}).</div>
    <div>&nbsp;</div>
    <div>Please feel free to revert for any clarifications.</div>
    <div>&nbsp;</div>
    <div>Thanking You.</div>
    <div>&nbsp;</div>
    <div>Regards,</div>
    <div>BookMyShow</div>
</body>
</html>
