<html>
    <style>
    .newstxt
    {
	    font-family: Trebuchet MS, Verdana, Arial;
	    font-size:12px;
    }
    </style>
<body class="newstxt">
    <div>{MailNotSent}</div>
    <div>&nbsp;</div>
    <div>Dear Sir,</div>
    <div>&nbsp;</div>
    <div>We have refunded the below mentioned transaction/s.</div>
    <div>&nbsp;</div>
    <div>Please find below the refunded transaction details:</div>
    <div>&nbsp;</div>
    <div>{RefundDetails}</div>
    <div>&nbsp;</div>
    <div>Please feel free to revert for any clarifications.</div>
    <div>&nbsp;</div>
    <div>Thanking You.</div>
    <div>&nbsp;</div>
    <div>Regards,</div>
    <div>BMS</div>
</body>
</html>
